<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="DriverType" value="UnManaged"/>
    </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <qualifyAssembly partialName="Oracle.DataAccess"
      fullName="Oracle.DataAccess, Version=2.102.2.20, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </assemblyBinding>
  </runtime>
  
</configuration>