<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="DriverType" value="UnManaged"/>
    </appSettings>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.112.3.0" newVersion="2.112.3.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>

</configuration>